<nav class="bg-sky-900 text-white shadow-md">
  <div class="max-w-5xl mx-auto flex items-center justify-around p-4">
    <h1 class="text-lg font-bold tracking-wide">
      R312 TP2 - Multipages/Singe-Page
    </h1>
    <ul class="flex space-x-6">
      <li>
        <a href="/" class="hover:text-sky-300 transition">Home</a>
      </li>
      <li>
        <a href="/species/" class="hover:text-sky-300 transition">Méthode 1</a>
      </li>
      <li>
        <a href="/test-iframe" class="hover:text-sky-300 transition">Méthode 2</a>
      </li>
      <li>
        <a href="/singlepage" class="hover:text-sky-300 transition">Méthode 3</a
        >
      </li>
    </ul>
  </div>
</nav>
