---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-2xl">Méthode 1 : Plusieurs pages</h1>
  <nav class="m-6">
    <ul class="flex justify-center space-x-4">
      <li>
        <a
          href="./Adelie"
          class="px-4 py-2 bg-white text-sky-800 rounded-lg shadow hover:bg-sky-100 hover:text-sky-900 transition"
        >
          Adelie
        </a>
      </li>
      <li>
        <a
          href="./Chinstrap"
          class="px-4 py-2 bg-white text-sky-800 rounded-lg shadow hover:bg-sky-100 hover:text-sky-900 transition"
        >
          Chinstrap
        </a>
      </li>
      <li>
        <a
          href="./Gentoo"
          class="px-4 py-2 bg-white text-sky-800 rounded-lg shadow hover:bg-sky-100 hover:text-sky-900 transition"
        >
          Gentoo
        </a>
      </li>
    </ul>
  </nav>
</Layout>
