---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-2xl">Méthode 1 : Plusieurs pages</h1>
  <select
    id="species"
    class="px-4 py-2 bg-white text-sky-800 rounded-lg shadow hover:bg-sky-100 hover:text-sky-900 transition cursor-pointer"
  >
    <option disabled selected> -- choisir une espèce -- </option>
    <option value="Adelie">Adelie</option>
    <option value="Chinstrap">Chinstrap</option>
    <option value="Gentoo">Gentoo</option>
  </select>
</Layout>

<script>
  document.querySelector("#species")?.addEventListener("change", (evt) => {
    const value = (evt.target as HTMLSelectElement).value;
    location.pathname = "/species/" + value;
  });
</script>
